.div {
  background-color: var(--smoke);
  border: 1px solid var(--secondary-color);
  padding: 1.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  border-radius: 5px;
}
.div:hover{
    transform: scale(1.1);
    transition: all .5s ease;
}
.topcategories {
  padding: 1.5em 0em;
}
.categories {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}
.icon{
    color:var(--secondary-color)
}
.top {
color: var(--primary-color);  
text-align: center;
}

