.section{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: .5em auto;
    border: 1px solid var(--primary-color);
    padding: 1em;
    border-radius: 5px;
}

.add{
    border: 1px solid var(--primary-color);
    width: 80%;
    margin: auto;
    padding: 1em;
}

.text{
    text-align: center;
    color: var(--secondary-color);
}

.button {
    display: block;
    margin: auto;
    margin-top: .5em;
    padding: 1em 2.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--secondary-color);
    box-shadow: 0 0 5px lightgray;
    color: var(--white);
    font-weight: bold;
  }

/* .arrowdiv{
    cursor: pointer;
    width: fit-content;
}
.icon{
    font-size: 2rem;
    color: var(--secondary-color);
}

.table{
    border: 1px solid black;
    border-collapse: collapse;
}
.table td{
    border: 1px solid black;
}
.table tr{
    border: 1px solid black;
}
.h3{
    color:var(--primary-color);
} */