/* .contactus{
    text-align: center;
} */
.contacttitle{
    text-align: center;
    font-size: 2rem;
}
.contact {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 100%;
  /* background-color: #0DA5F2; */
  
  padding: .5em;
}
.iconcontactsdiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}
.icons{
    font-size: 4rem;
    cursor: pointer;
}
.icons:hover{
    color: #F25A0D;
}
.iconcontacts {
    display: flex;
    width: 60%;
    border: 1px solid red;
    gap: 2em;
  }
  /* colors kablue flani #0DA5F2;
kaorange #F25A0D; */
  .contactform{
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
    background-color: #0DA5F2;
    padding: 1.5em;
    border-radius: 3px;
  }
  .form{
    width: 80%;
   display: flex;
   gap: 1em;
   flex-direction: column;
  }
.contactinfo {
  color: black;
  width: 40%;
}

.input {
    font-size: 1rem;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: 1em;
}
.textarea {
  display: block;
  font-size: 1rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 1em;
  height: 40%;
}
.button {
  display: block;
  width: 100%;
  padding: 1em 2.5em;
  background-color: #F25A0D;
  color: white;
  border: none;
  outline:none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}
.p{
    font-size: 1.5rem;
}