/* .section4input{
    border: 1px solid black;
    
} */
.table{
    text-align: left;
}
.td{
border: 1px solid black;
}
.section4input{
    display: block;
    padding: .5em;
    margin-top: .5em;
    width: 60%;
    outline: none;
}
.input{
    padding: .5em;
    outline: none;
    margin: .2em;
    /* border: none; */
}